h1,h2,h4 {
  font-family: 'Saira Extra Condensed';

}
h1 {
  font-size: 60px;
}
 
.section{
  height: 100vh ; 
}
.section-2{
  height: 50vh ; 
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.carrousel-img{
  height:43vh;
}

.icon{
  width:40px;
}